@{
  Layout = "_Layout";
}

@model ToDoList.Models.Item

<h3>Add a new task</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)
  <input type="submit" value="Add new task" />
}
<p>@Html.ActionLink("Show all items", "Index")</p>