<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>To Do List with ASP.NET Core MVC</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>To Do List Item Details: </h1>

    <h2>@Model["item"].Description</h2>
    <h3>Category: @Model["category"].Name</h3>

    <a href='/categories/@Model["category"].Id/items/new'>Add another item</a>
    <a href='/categories'>View all categories</a>
  </body>
</html>